<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resitproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResitProject">
        <activity
            android:name=".FragmentAdapterUnitBooking"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginHelpActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".UnitBookingActivity" />
        <activity android:name=".BookingListActivity" />
        <activity android:name=".SummaryActivity" />
    </application>

</manifest>